::ng-deep body  {
  background-color: black;
}

.container{
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  text-align: center;
  color:white;
}

.container .room {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.container .room input {
  min-width: 100px;
  padding: .5em;
  border-radius: 6px;
  border-color: #101a33
}

.container .btn-group {
  display: flex;
  gap: 1em;
}

.container .btn-group button {
  padding: .5em 2em;
  font-weight: bold;
    border-radius: 6px;
    line-height: 1;
}

.container .btn-group button#create-room {
  background-color: #42bcf5;
  border: 2px solid #42bcf5;
  color: #101a33;
}

.container .btn-group button#join-room {
  background-color: #101a33;
  border: 2px solid #42bcf5;
  color: #42bcf5;
}

.table {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3,150px);
  justify-content: center;
  padding: 20px;
  /* temporary*/
  rule: 2px solid white;
  cursor: pointer;
}

.table > div {
  padding: 10px;
  place-items: center;
  background-color: black;
  color:white;
}

.players:not(:empty){
  border: 2px solid #333333;
}

.top {
  display: flex;
  flex-flow: row nowrap;
  background-color: red;
  text-align: center;
}

.room{
}

.nickname{
}

.container{
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  color:white;
}

.message:empty, .currentMove:empty, .players:empty {
  display: none;
}


.col-1 {
  flex: 1 1 33.333%;
  background-color: green;
}

.col-2 {
  flex: 1 1 33.3333%;
  background-color: blue;
}

.col-3 {
  flex: 1 1 33.3333%;
  background-color: red;
}
