<p>multi works!</p>

<label> Enter room id for either creation or joining of a lobby</label>
<input type = "text" id = "room" #userInput placeholder= "room_id">
<button (click) = "create(userInput.value)">Create Room</button>
<button (click) = "join(userInput.value)">Join Room</button>
<div>
  @if (hasRoom){
    <h1> The current room number is: {{room}}</h1>
  }
</div>
<div class = "table">

  @for(row of board; let i = $index; track i){
    @for(column of board[$index]; let j = $index; track j){

      <div (click) = "onTileClick($event, i,j)" > {{i}} {{j}} </div>
    }
  }
</div>

