<p>multi works!</p>


<div class="container">
  <div class="game-rules">
    <h1>Welcome to multi-player tic-tac-toe!</h1>
    <p>To start playing, join an existing room with a code given to you, or create your own! Don't forget to give
      yourself a username.</p>
    <div class="top">

      <div class="room">
        @if(room() === -1)
        {
        <div class="user-inputs">
          <div class="room-number">
            <label>Enter a room code</label>
            <input type="text" id="room" #userInput placeholder="ex. 1398">
          </div>
          <div class="nickname">
            <!-- @if(socketId()){ -->
            <label>Enter a username</label>
            <!-- <input type="text" id="username" #userInput: [placeholder]="socketId()"> -->
            <input type="text" id="username" #userInput placeholder="Alex">
            <!-- } -->
          </div>
        </div>

        <div class="btn-group">
          <button id="create-room" (click)="create(userInput.value)">Create room</button>
          <p>Already have a code from a friend? Enter it above and click on Join room.</p>
          <button id="join-room" (click)="join(userInput.value)">Join room</button>
        </div>

        }
      </div>



    </div>
  </div>


<div class="playing-area">
  <div class="message">

    @if(this.room() == -1){
    }
    @else {
    <p [style.color]="selectedColor"> {{displayMessage()}} </p>

    }

  </div>


  @if(latestMove == true){
  <p> what {{message}}</p>
  }

  <div class="currentMove">
    @if (room() !== -1){
    <h1> The current room number is: {{room()}}</h1>
    }

    @if(firstTurn() !== ""){
    @if(firstTurn() === socket.getId() ){
    <p> Its your current turn. </p>
    }
    @else{
    <p> The other player is currently moving.</p>
    }
    }
  </div>

  <!--
      <div class = "room">
        @if(room() === -1)
        {
          <label> Enter room id for either creation or joining of a lobby </label>
          <input type = "text" id = "room" #userInput placeholder= "room_id">
          <button (click) = "create(userInput.value)">Create Room</button>
          <button (click) = "join(userInput.value)">Join Room</button>
        }
      </div>-->

  <!--
      <div class="">
        @if(socketId()){
          <div>
            <h1>Insert name here</h1>
          </div>
          <div class = "nickname">
            <label>Nickname </label>
            <input type="text" id="username" #nameInput [placeholder] = "socketId()">
            <button (click) = "updateName(nameInput.value)"> Update </button>
          </div>
        }
      </div>-->
  <div class="players">
    @for (players of this.roomPlayers(); track $index) {
    <p> {{ players }} </p>

    }
  </div>
  <div class="table">
    @for(row of board; let i = $index; track i){
    @for(column of board[$index]; let j = $index; track j){
    @if( this.socket.getId() == board[i][j] ){
    <div style="background-color: blue " (click)="onTileClick($event, i,j)"> </div>
    } @else if(board[i][j] == "-1" ){
    <div style="background-color: black " (click)="onTileClick($event, i,j)"> </div>
    } @else {
    <div style="background-color: red " (click)="onTileClick($event, i,j)"> </div>
    }
    }
    }
  </div>
  <!--
    @if (x !== -1 && y !== -1){
      <p> Your current selection is: {{x}} {{y}}</p>
      <button (click) = "makeMove()" style="align-self: center; padding:10px"> Submit Choice</button>
    }-->

  <div>

    <h4> Log: </h4>
    <p> {{log()}} </p>

  </div>
</div>


</div>