::ng-deep body  {
  background-color: black;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  text-align: center;
  color:white;
}

.container .game-rules h1, .container .game-rules p {
  text-align: start;
}

.container > div:first-child {
  flex: 1;
  min-width: 500px;
}

.container > div:nth-child(2) {
  flex: 2;
  min-width: 500px;
}

.container .top {
  justify-content: center;
}

.container .room {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: start;
}

.container .room > div {
  flex: 1;
}

.container .room .user-inputs {
  display: flex;
  gap: 1em;
}

.container .room .user-inputs > div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.container .room label {
  font-weight: bold;
}

.container .room input {
  min-width: 100px;
  padding: .5em;
  border-radius: 6px;
  border-color: #101a33
}

.container .btn-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
}

.container .btn-group p {
  margin-bottom: 0;
  font-style: italic;
  font-size: .9rem;
}

.container .btn-group button {
  padding: .5em 2em;
  font-weight: bold;
    border-radius: 6px;
    line-height: 1;
    width: fit-content;
    font-size: .9rem;
}

.container .btn-group button#create-room {
  background-color: #42bcf5;
  border: 2px solid #42bcf5;
  color: #101a33;
}

.container .btn-group button#join-room {
  background-color: #101a33;
  border: 2px solid #42bcf5;
  color: #42bcf5;
}

.table {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3,150px);
  justify-content: center;
  padding: 20px;
  /* temporary*/
  rule: 2px solid white;
  cursor: pointer;
}

.table > div {
  padding: 10px;
  place-items: center;
  background-color: black;
  color:white;
}

.players:not(:empty){
  border: 2px solid #333333;
}

.top {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: space-between;
}

.room{

}

.nickname{
  width:200px;
}

.empty{
  width:200px;
}

.container{
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  color:white;
}

.message:empty, .currentMove:empty, .players:empty {
  display: none;
}


.col-1 {
  flex: 1 1 33.333%;
  background-color: green;
}

.col-2 {
  flex: 1 1 33.3333%;
  background-color: blue;
}

.col-3 {
  flex: 1 1 33.3333%;
  background-color: red;
}
